<!DOCTYPE html>
<html>
  <head>
    <title>Webpack</title>
    {% block styles %}
      {% include "./dist/templates/home-styles.html.twig" %}
    {% endblock %}
    {% block scripts %}
      {% include "./dist/templates/modern/home-script.html.twig" %}
      {% include "./dist/templates/legacy/home-script.html.twig" %}
    {% endblock %}
  </head>
  <body>
    {# Application code here #}
  </body>
</html>
